#master-div {
  margin: 20px;
  background-color: #1c233a;
  border:2px solid white;
  border-radius: 5px;
  font-family: 'Ramaraja', serif;
}

header {

}

aside {
  margin-top:1.5%;
}

section {
  background-color:#aa6f39;
}

article {

}

footer {

}
