
<div class="container">

  <div>
    <app-header-nav></app-header-nav>
  </div>


  <hr>

  <div class="row">

    <div class="col-xs-3">
      <nav class="navbar navbar-default navbar-fixed-side">
        <app-bio-panel></app-bio-panel>
      </nav>
    </div>


  <div class="col-xs-9">
    <app-blog-entry></app-blog-entry>
  </div>

  </div>

  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <app-footer-nav></app-footer-nav>
    </div>
  </nav>

</div>
