#profile-pic {
  margin-top:12%;
  height:200px;
  width:200px;
  border: 1px solid white;
}

.icon-styling {
  height: 65px;
  width: 65px;
  display: inline-block;
}

button {
  background: none;
  border: none;
}

button:hover {
  background-color: black;
  border: 1px solid white;
}
