  <nav class="navbar navbar-default navbar-fixed-side" style="background-color:#3a56ab; color: white">

    <img id="profile-pic" class="img-responsive center-block" src="assets/profile-pic.jpg" alt="Profile Picture">
    <h2 class="text-center">Thomas Rizzo</h2>
    <h3 class="text-center">Denver, CO</h3>
    <h3 class="text-center">Contact Me On:</h3>

    <div class='container' style="margin-bottom:5%">

      <div class="row-xs-1">
        <button href=""><img class="img-responsive icon-styling" src="assets/gmail_logo_blue.ico" alt="Gmail Logo"></button>
        <button href=""><img class="img-responsive icon-styling" src="assets/GitHub-Mark-Light-120px-plus.png" alt="Github Logo"></button>
        <button href=""><img class="img-responsive icon-styling" src="assets/In-White-121px-R.png" alt="Linkedin Logo"></button>
      </div>

    </div>

  </nav>
