h2 {
  color: #4472fd;
}

h3 {
  text-align: center;
}

h4 {
  color: #aa6f39;
}

p {
  color: black;
  text-indent: 30px;
}

div {
  background-color: #fcefe2;
  border: 2px solid #3a56ab;
  border-radius: 5px;
  padding: 10px;
  margin-top: 2%;
  margin-bottom: 2%;
}
